@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

*{margin:0; padding:0;}

html, body{height:100%;}

body{margin:0px; padding:0px; background-color:#FFFFFF; font-family:'Open Sans', sans-serif; font-weight:normal; font-size:18px; overflow-x:hidden; overflow-y:scroll; line-height:30px;}

	a{text-decoration:none; color:#F3F3F3; opacity:1;}

	b{font-weight:700;}

	img{border:0; float:left; position:relative;}


	
/* FIM DEFAULT */


/* HTML5 PADRÕES */
h1{font-size:30px; font-weight:700; color:#414141;}

p{color:#414141;}

#shadow{display:none;}
.menuopen{display:none;}
#menu_mobile{display:none;}
/* HTML5 */

/* TOPO */
header#topo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    background: transparent;
}

/* CONTAINER */
#topob {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo img {
    height: 200px;   
    width: auto;
    display: block;
}

/* MENU */
#menu {
    display: flex;
    gap: 20px;
}

/* ITENS */
.itemmenu {
    padding: 10px 15px;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFF;
    transition: 0.2s;
}

/* HOVER */
.itemmenu:hover {
    background: #FF79C6;
    color: #282A36;
}
/* BANNER */
/* #banner_principal{position:absolute; width:100%; height:952px; top:0; z-index:1; margin:0; padding:0;}*/
/*#banner_principalb{position:relative; float:none; width:80%; max-width:1440px; height:100%; margin:0 auto;}*/

#banner_principal{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    background-size: cover;
}

.textosobreposto{
    color: #FFF;
    font-size: 40px;
    line-height: 65px;
    font-weight: 500;
    position: absolute;
    top: 180px;
    left: 80px;

    
}

.textosobreposto p{ font-family: 20px; color: #FFF;}
.textosobreposto p b{color:#50FA7B;}


/* frase intermediaria */
.fraseintermediaria {
    margin-top: 100px;
    margin-bottom: 80px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center; /* garante centralização do texto */
}

.frase {
    width: 100%;
}

.fraseintermediaria h1 {
    text-transform: uppercase;
    margin: 0; /* remove espaçamentos padrão */
}

/* cyber segurança */

#cyberseguranca{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#textolateral{
    align-content: center;
    font-size: 20px;
    margin-left: 20px;
    flex: 1;
}

#pcseguro{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}

#pcseguro img {
    width: 100%;
    max-width: 600px;
    height: auto;

}

#textolateral h1{
    color: yellow;
}


/* SOBRE NOS -------------------------------------------------------- */

body.interna header#topo {
    position: relative; 
    background: #282A36; 
}

#bannerhistoria {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap; 
}

#blococonteudoempresa {
    flex: 1 1 500px; 
}
#blococonteudoempresa h1 {
    color: #8BE9FD;
}


#equipe {
    flex: 1 1 400px; 
    display: flex;
    justify-content: center;
}

#equipe img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: cover;
}

.compromissos{
    text-align: center;
    padding: 80px 0;
    background-color: rgb(15, 15, 15); 

    margin-bottom: 120px;
    max-width: 100%;
    width: 100%;
    background-image: url("img/4k-programming-background-syxg8aq99n3o5vb1.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#titulo-compromissos {
    width: 100%;
    padding: 40px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo-compromissos h1 {
    margin: 0;
    text-align: center;
    color: #50FA7B;
}

.blococardscompromisso{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.missioncard{
    color: #FFF;
    flex-basis: 30%;
    padding: 30px;
    border: 1px solid #333;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: 0.3s ease;
    flex: 1;
    min-width: 250px; 
}
.missioncard h3{
    color: #FF79C6;
}
.missioncard:hover {
    background-color: #282A36;
    border-color: #FF79C6;
}

/* FOOTER -------------------------------------------------------- */
footer {
    width: 100%;
    background: #282A36;
    padding: 40px 0;
}

#footerb {
    width: 76%;
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* ESQUERDA */
#logocreditos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* LOGO */
#logocreditos .logo img {
    height: 80px;
}

/* CRÉDITOS */
#creditos {
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
}

/* DIREITA */
#footcontato {
    display: flex;
    gap: 50px;
}

/* SOCIAL */
#matrizsocial h1 {
    color: #FFF;
    font-size: 20px;
}

/* ICONES */
.social {
    width: 24px;
    height: 24px;
    background-image: url("img/icones/face.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin-top: 10px;
}

/* CONTATO */
#footinfocontato {
    color: #FFF;
    font-size: 14px;
    line-height: 24px;
}
